.service {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 8px 8px 10px 8px;
    text-align: center;
    transition: 0.5s;
    background-color: transparent !important;
}

.service:hover {
    box-shadow: 10px 10px 40px #bebebe,
        -10px -10px 40px #ffffff;
}

.service:hover .card-head {
    color: orange;
}

.service img {
    width: 100%;
    border-radius: 10px;
}

.card-content {
    padding: 20px 60px 20px 60px;
    color: rgb(209, 200, 200);
}

.card-head {
    font-weight: bold !important;
}

.service-btn {
    width: 150px !important;
    height: 40px !important;
    border: 1px solid orange !important;
    border-radius: 10px !important;
    color: orange !important;
    background-color: transparent !important;
    transition: 0.5s !important;
}

.service-btn:hover {
    background-color: orange !important;
    color: #fff !important;
}