.nav-text {
    color: orange;
}

.nav-bar {
    height: 80px;
}

.nav-link {
    font-weight: bold;
    color: #fff !important;
    font-size: 18px;
}

.nav-link:hover {
    color: orange !important;
}

.nav-logo {
    width: 30px;
}

.nav-brand {
    font-size: 30px;
}