.service-details {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-text {
    color: #fff;
    text-align: center;
    margin-bottom: 100px;
}

.service-details-btn {
    text-align: center;
}

.checkout-btn {
    width: 150px;
    height: 40px;
    background-color: transparent;
    border: 1px solid orange;
    border-radius: 10px;
    color: #fff;
    transition: 0.5s;
}

.checkout-btn:hover {
    background-color: orange;
}