.service-form {
    max-width: 500px;
    margin: 80px auto;
    height: 60vh;
}

.service-head {
    font-weight: 100;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid orange;
}

.service-input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid white;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;
}

/* .service-label {
    line-height: 2;
    text-align: left;
    display: block;
    margin-bottom: 0px;
    margin-top: 20px;
    color: white;
    font-size: 14px;
    font-weight: 200;
} */

.service-button {
    background: orange;
    color: white;
    text-transform: uppercase;
    border: 1px solid orange;
    border-radius: 10px;
    margin-top: 40px;
    padding: 15px 40px;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 5px;
    transition: 0.5s;
}

.service-button:hover {
    background-color: transparent;
    border: 1px solid orange;
}